<footer class="page-footer font-small" style="background-color: #428bca;">

    <div class="footer-copyright text-center py-3"> <p style="color: rgba(0, 0, 0, 0.75)">© 2020 Copyright: <a href="https://github.com/parshva-b/MySpace/" style="color: cornsilk;"> Parshva & Sakina</a>
    </div>
  
  </footer>