<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }

  /* .wrapper {
    min-height: 100%;
  } */

  .footer,
  .push {
    height: 40px;
  }
</style>

<footer class="footer" style="background-color: #49274A;">

  <div class="footer-copyright text-center py-3">
    <p style="color: #F4DECB">© 2020 Copyright: <a href="https://github.com/parshva-b/MySpace/"
        style="color: #F8EEE7;"> Parshva & Sakina<br>Mentor: Prof. Swapnil Pawar</a>
  </div>

</footer>