<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #F8EEE7;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGLeOCyBScCW0T8Uj8FAKZWJXnrSOjP3-fq6p-yDpJUXbkJw9A"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
  }

  .sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4DECB;
    overflow-x: hidden;
    font-size: medium;
  }

  .nav>li>a:focus, .nav>li>a:hover {
  background-color: #F8EEE7;
}
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #49274A;
    display: block;

  }

  .sidenav a:hover {
    color: #94618E;
  }
  .main {
    margin-left: 20%;
    /* Same as the width of the sidenav */
    font-size: 15px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
</style>

  <div class="sidenav">
    <h3 style="color: #49274A; padding-bottom: 9px;">MySpace</h3>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/" style="background-color: #94618E;"><span
            class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/news"><span class="glyphicon glyphicon-globe"></span> News</a></li>
      <li><a href="/sports" id="news"><i class='fas fa-futbol'></i> Sports</a></li>
      <li><a href="/commute"><span class="glyphicon glyphicon-map-marker"></span> Commute</a></li>
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
    </ul><br>
  </div>

  <!-- <div class="main">
    <h2>Home</h2>
    <p>This sidebar is of full height (100%) and always shown.</p>
    <p>Scroll down the page to see the result.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  </div> -->

  <div class="push"></div>
</div>