<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #F8EEE7;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGLeOCyBScCW0T8Uj8FAKZWJXnrSOjP3-fq6p-yDpJUXbkJw9A"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
  }

  .sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4DECB;
    overflow-x: hidden;
    font-size: medium;
  }

  .nav>li>a:focus,
  .nav>li>a:hover {
    background-color: #F8EEE7;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #49274A;
    display: block;

  }

  .sidenav a:hover {
    color: #94618E;
  }


  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
  .img-responsive{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    opacity: 0.6;
  }
  .container {
  position: relative;
  text-align: center;
  /* color: white; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -80%);
}
</style>

<<<<<<< HEAD
<div class="sidenav">
  <h3 style="color: #49274A; padding-bottom: 9px;">MySpace</h3>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/home" style="background-color: #94618E;"><span class="glyphicon glyphicon-home"></span>
        Home</a></li>
    <li><a href="/news"><span class="glyphicon glyphicon-globe"></span> News</a></li>
    <li><a href="/sports" id="news"><i class='fas fa-futbol'></i> Sports</a></li>
    <li><a href="/commute"><span class="glyphicon glyphicon-map-marker"></span> Commute</a></li>
    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
  </ul><br>
</div>
<div class="wrapper">
  <h2 style="color: #49274A; margin-left: 25%;">Home</h2>
  <div class="container">
    <img class="img-responsive"  width="65%" height="100%"
    src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
    style="margin-left: 25%;">
    <div class="centered"><h1 style="color: rgb(60, 32, 61); background-color:rgba(0, 0, 0, 0.2);"> My Dashboard </h1> </div>
=======
  <div class="sidenav">
    <h3 style="color: #49274A; padding-bottom: 9px;">MySpace</h3>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/" style="background-color: #94618E;"><span
            class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/news"><span class="glyphicon glyphicon-globe"></span> News</a></li>
      <li><a href="/sports" id="news"><i class='fas fa-futbol'></i> Sports</a></li>
      <li><a href="/commute"><span class="glyphicon glyphicon-map-marker"></span> Commute</a></li>
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
    </ul><br>
>>>>>>> 99fcf707fb7cfc24bed8057d54211c2e038c11f1
  </div>
</div>
<div class="push"></div>
</div>