<%- include ('partials/sidenav') %>

<style>
  
  .img-responsive {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    opacity: 0.6;
  }

  .container {
    position: relative;
    text-align: center;
    /* color: white; */
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -80%);
  }
</style>
<div class="wrapper">
    <h2 style="color: #49274A; margin-left: 25%;">Home</h2>
    <div class="container">
      <img class="img-responsive"  width="65%" height="100%"
      src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
      style="margin-left: 25%;">
      <div class="centered"><h1 style="color: rgb(60, 32, 61); background-color:rgba(0, 0, 0, 0.2);"> My Dashboard </h1> </div>
    </div>
  </div>
  <div class="push"></div>