<%- include ('partials/sidenav') %>

<style>
    .main {
        margin-left: 20%;
        /* Same as the width of the sidenav */
        font-size: 15px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    .card{
        margin-left: 20%;
    }
</style>

<div class="wrapper">
    <div class="main">
        <div class="card">
            <form class="form-profile" action="" method="GET">
                News
                <ul>
                    <% news.forEach( function(n) { %>
                        <li>
                            <%= n.name %>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                Sports
                <hr>
                Save Changes?
                <button class="btn-save btn-success">Save</button>
            </form>
        </div>
    </div>
</div>